# Rules of the sandbox

1. You can bring your own toys, if you want.
2. Toys lying around are free to use by anyone.
3. Don't expect to find a toy the next day, if you leave it overnight.

Just fooling around. :-)

